node_modules
.idea
.vscode
.env
functions/node_modules
functions/.env
frontend/node_modules
frontend/.env.local
.env.local
frontend/dist
functions/firestore-debug.log
.firebase
firebase-debug.log
dist
